body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url("./background_photo_desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}
.PP {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #6e7bb6;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateX(-0.8rem);
}
.LogoContainer{
  width: 23.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10rem;
}
.MainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 45px;
  width: 50px;
  background-color: #010c3f;
  transform: translateX(2rem);
}
.pp {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
h2 {
  align-self: center;
  margin-right: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
header {
  background: #010c3f;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.akramspotify {
  transform: translateY(0.5rem);
  margin-left: 2rem;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .akramspotify {
    font-size: 1.2rem;
    transform: translateX(1.2rem);
  }
  .pname {
    font-size: 0.7rem;
    transform: translateX(0.7rem);
  }
  .pp {
    height: 2rem;
    width: 2rem;
    margin-right: -0.5rem;
  }
  .logo {
    height: 2rem;
    width: 2.3rem;
  }
}
